**CREATING A DATAFRAME**

In [ ]:
import pandas as pd

# Sample sales dataset (20 rows)
data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

print(df)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
0      1001      Laptop  Electronics         2    800    Alice  North   1600
1      1002       Mouse  Accessories         5     20      Bob  South    100
2      1003    Keyboard  Accessories         3     50  Charlie   East    150
3      1004     Monitor  Electronics         4    200    Diana   West    800
4      1005      Laptop  Electronics         1    850    Ethan  North    850
5      1006  Headphones  Accessories         6     40    Fiona  South    240
6      1007       Mouse  Accessories        10     25   George   East    250
7      1008       Chair    Furniture         2    150   Hannah   West    300
8      1009        Desk    Furniture         1    300      Ian  North    300
9      1010      Laptop  Electronics         3    900     Jane  South   2700
10     1011     Printer  Electronics         2    120     Kyle   East    240
11     1012    Keyboard  Accessories         4     55    Laura   West    220
12     1013     Monitor  Electronics         2    250     Mike  North    500
13     1014       Mouse  Accessories         7     20     Nina  South    140
14     1015      Laptop  Electronics         5    750    Oscar   East   3750
15     1016  Headphones  Accessories         3     35     Paul   West    105
16     1017        Desk    Furniture         2    280    Queen  North    560
17     1018     Monitor  Electronics         4    220   Robert  South    880
18     1019     Printer  Electronics         1    110    Sarah   East    110
19     1020       Chair    Furniture         6    180      Tom   West   1080

**CREATING A DATAFRAME PT2**

In [ ]:
import pandas as pd

# Step 1: Create DataFrame
data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}
df = pd.DataFrame(data)

# Step 2: Show first 5 rows
print(f"The first five rows: {df.head(5)} \n")

# Step 3: Print DataFrame shape
print(f"Shape: {df.shape} \n")

# Step 4: Show column names
print(f"Columns: {df.columns} \n")

The first five rows:    OrderID   Product     Category  Quantity  Price Customer Region
0     1001    Laptop  Electronics         2    800    Alice  North
1     1002     Mouse  Accessories         5     20      Bob  South
2     1003  Keyboard  Accessories         3     50  Charlie   East
3     1004   Monitor  Electronics         4    200    Diana   West
4     1005    Laptop  Electronics         1    850    Ethan  North

Shape: (20, 7)

Columns: Index(['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer',
       'Region'],
      dtype='object')

**ADDING A COLUMN**

In [ ]:
# Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

# Step 1: Add Discount column (10% if Quantity >= 5 else 0)
df["Discount"] = df["Quantity"].apply(lambda x: 0.1 * x if x >= 5 else 0)

# Step 2: Add FinalTotal column (Total - discount)
df["FinalTotal"] = df["Price"] - df["Discount"]

# Step 3: Show selected columns
print(df[["OrderID", "Product", "Total", "Discount", "FinalTotal"]].filter)

<bound method NDFrame.filter of     OrderID     Product  Total  Discount  FinalTotal
0      1001      Laptop   1600       0.0       800.0
1      1002       Mouse    100       0.5        19.5
2      1003    Keyboard    150       0.0        50.0
3      1004     Monitor    800       0.0       200.0
4      1005      Laptop    850       0.0       850.0
5      1006  Headphones    240       0.6        39.4
6      1007       Mouse    250       1.0        24.0
7      1008       Chair    300       0.0       150.0
8      1009        Desk    300       0.0       300.0
9      1010      Laptop   2700       0.0       900.0
10     1011     Printer    240       0.0       120.0
11     1012    Keyboard    220       0.0        55.0
12     1013     Monitor    500       0.0       250.0
13     1014       Mouse    140       0.7        19.3
14     1015      Laptop   3750       0.5       749.5
15     1016  Headphones    105       0.0        35.0
16     1017        Desk    560       0.0       280.0
17     1018     Monitor    880       0.0       220.0
18     1019     Printer    110       0.0       110.0
19     1020       Chair   1080       0.6       179.4>

**ADDING A ROW**

In [ ]:
import pandas as pd

# Step 1: Create new record
new_row = {
    "OrderID": 1021,
    "Product": "Tablet",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 450,
    "Customer": "Victor",
    "Region": "East"
}

# Step 2: Append to DataFrame
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

# Step 3: Recalculate Total
df["Total"] = df["Quantity"] * df["Price"]

# Step 4: Show last 3 rows
print(df.tail(3))

    OrderID  Product     Category  Quantity  Price Customer Region  Total  \
18     1019  Printer  Electronics         1    110    Sarah   East    110
19     1020    Chair    Furniture         6    180      Tom   West   1080
20     1021   Tablet  Electronics         2    450   Victor   East    900

    Discount  FinalTotal
18       0.0       110.0
19       0.6       179.4
20       NaN         NaN

**MODIFYING COLUMN VALUES**

In [ ]:
# Step 1: Update price of Mouse products
df.loc[df["Product"] == "Mouse", "Price"] = 30

# Step 2: Recalculate Total for affected rows
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Mouse rows
print(df[df["Product"] == "Mouse"])

    OrderID Product     Category  Quantity  Price Customer Region  Total  \
1      1002   Mouse  Accessories         5     30      Bob  South    150
6      1007   Mouse  Accessories        10     30   George   East    300
13     1014   Mouse  Accessories         7     30     Nina  South    210

    Discount  FinalTotal
1        0.5        19.5
6        1.0        24.0
13       0.7        19.3

**DELETING A COLUMN**

In [ ]:
# Step 1: Drop Discount column
df = df.drop(columns=["Discount"])

# Step 2: Drop FinalTotal column
df = df.drop(columns=["FinalTotal"])

# Step 3: Show updated DataFrame
print(df.head())

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     30      Bob  South    150
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850

**DELETING A ROW**

In [ ]:
# Step 1: Drop row with OrderID = 1010
df = df.drop(df[df["OrderID"] == 1010].index, axis=0)
print(f"Columns: {df.columns} \n")

# Step 2: Drop the first row by index
df = df.drop(index=0)

# Step 3: Print new shape
print("New shape:", df.shape)

Columns: Index(['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer',
       'Region', 'Total'],
      dtype='object')

KeyError: '[0] not found in axis'

**SEARCHING WITH CONDITIONS**

In [ ]:
# Step 1: Electronics with Quantity >= 3
result1 = df[(df["Category"] == "Electronics") & (df["Quantity"] >= 3)]
print(f"{result1} \n")

# Step 2: Products with Price > 500
result2 = df[df["Price"] > 500]
print(f"{result2} \n")

# Step 3: Count orders from North region
count_north = df[df["Region"] == "North"].value_counts
print("North orders:", count_north)

    OrderID  Product     Category  Quantity  Price Customer Region  Total
3      1004  Monitor  Electronics         4    200    Diana   West    800
14     1015   Laptop  Electronics         5    750    Oscar   East   3750
17     1018  Monitor  Electronics         4    220   Robert  South    880

    OrderID Product     Category  Quantity  Price Customer Region  Total
4      1005  Laptop  Electronics         1    850    Ethan  North    850
14     1015  Laptop  Electronics         5    750    Oscar   East   3750

North orders: <bound method DataFrame.value_counts of     OrderID  Product     Category  Quantity  Price Customer Region  Total
4      1005   Laptop  Electronics         1    850    Ethan  North    850
8      1009     Desk    Furniture         1    300      Ian  North    300
12     1013  Monitor  Electronics         2    250     Mike  North    500
16     1017     Desk    Furniture         2    280    Queen  North    560>

**FILTERING SPECIFIC VALUES**

In [ ]:
# Step 1: Sales in West region
west_sales = df[df["Region"] == "West"]
print(f"{west_sales} \n")

# Step 2: Sales by Alice
alice_sales = df[df["Customer"] == "Alice"]
print(f"{alice_sales} \n")

# Step 3: Sales of Laptop or Printer
subset_sales = df[df["Product"].isin(["Laptop", "Printer"])]
print(f"{subset_sales} \n")

    OrderID     Product     Category  Quantity  Price Customer Region  Total
3      1004     Monitor  Electronics         4    200    Diana   West    800
7      1008       Chair    Furniture         2    150   Hannah   West    300
11     1012    Keyboard  Accessories         4     55    Laura   West    220
15     1016  Headphones  Accessories         3     35     Paul   West    105
19     1020       Chair    Furniture         6    180      Tom   West   1080

Empty DataFrame
Columns: [OrderID, Product, Category, Quantity, Price, Customer, Region, Total]
Index: []

    OrderID  Product     Category  Quantity  Price Customer Region  Total
4      1005   Laptop  Electronics         1    850    Ethan  North    850
10     1011  Printer  Electronics         2    120     Kyle   East    240
14     1015   Laptop  Electronics         5    750    Oscar   East   3750
18     1019  Printer  Electronics         1    110    Sarah   East    110

**UPDATING VALUES BASED ON CONDITION**

In [ ]:
# Step 1: Increase Price of Furniture by 10%
df.loc[df["Category"] == "Furniture", "Price"] *= 1.1

# Step 2: Recalculate Total
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Furniture rows
print(df[df["Category"] == "Furniture"])

    OrderID Product   Category  Quantity  Price Customer Region   Total
7      1008   Chair  Furniture         2  18.15   Hannah   West   36.30
8      1009    Desk  Furniture         1  36.30      Ian  North   36.30
16     1017    Desk  Furniture         2  33.88    Queen  North   67.76
19     1020   Chair  Furniture         6  21.78      Tom   West  130.68

**SORTING THE DATAFRAME**

In [ ]:
# Step 1: Sort by Total descending
sorted_df = df.sort_values(by="Total", ascending=False)
print(f"{sorted_df.head()} \n")

# Step 2: Show top 5 sales
print(f"{sorted_df.head(5)} \n")

# Step 3: Multi-level sort (Region then Customer)
multi_sort = df.sort_values(by=["Region", "Customer"])
print(f"{multi_sort.head()} \n")

    OrderID  Product     Category  Quantity  Price Customer Region   Total
14     1015   Laptop  Electronics         5  750.0    Oscar   East  3750.0
20     1021   Tablet  Electronics         2  450.0   Victor   East   900.0
17     1018  Monitor  Electronics         4  220.0   Robert  South   880.0
4      1005   Laptop  Electronics         1  850.0    Ethan  North   850.0
3      1004  Monitor  Electronics         4  200.0    Diana   West   800.0

    OrderID  Product     Category  Quantity  Price Customer Region   Total
14     1015   Laptop  Electronics         5  750.0    Oscar   East  3750.0
20     1021   Tablet  Electronics         2  450.0   Victor   East   900.0
17     1018  Monitor  Electronics         4  220.0   Robert  South   880.0
4      1005   Laptop  Electronics         1  850.0    Ethan  North   850.0
3      1004  Monitor  Electronics         4  200.0    Diana   West   800.0

    OrderID   Product     Category  Quantity  Price Customer Region   Total
2      1003  Keyboard  Accessories         3   50.0  Charlie   East   150.0
6      1007     Mouse  Accessories        10   30.0   George   East   300.0
10     1011   Printer  Electronics         2  120.0     Kyle   East   240.0
14     1015    Laptop  Electronics         5  750.0    Oscar   East  3750.0
18     1019   Printer  Electronics         1  110.0    Sarah   East   110.0